@import url(../web/index.html);
@import url(../estilo/peso.css);


.home {
    margin-top: 1.4rem;
    width: auto;
}

.home input{
    background-color: transparent;
    border: 0;
    outline: 0;
    color: var(--texto-cor);
}

input[type="date"] {
    
    display: inline-block;
    background-color: var(--cor-primaria-ligth);
    border-radius: 8rem;
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
    margin-left: 3%;

}


.texto-001{
    position: relative;
    left: 3%;
    width: 17%;
    display: flex;
    min-width: 310px;
    height: 35px;
    margin-left: 15px;
}




div#ajax-content{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color:white;
    box-shadow: 0 0 2rem rgba(0,0 0, 0.1, green, blue, alpha);
    
}

div#ajax-content {
    width: 100%;
    margin-top: 20px;
    
    background-color: white;
}

div#ajax-content button {
    background-color: brown;
    color: "#fff";

}

#ajax-content button:hover {
    transform: scale(1.10);
    transition: 0.2s;
}

div#ajax-container{
    cursor: pointer;
}
.dymanic-content{
    padding: 20px;
}