.contas{
    display: flex;
    width: 100%; 
    max-width: 1120px;
    gap: 4rem;
    padding: 0px 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}


.contaainer{
    display: flex;
    height: 150px;
    margin-left: 9%;
    justify-content: center;
    
}

.cards{
   width: 350px;
    border-radius: 6px;
    background-color: rebeccapurple;
    
}

.hd-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(196, 196, 204);
    padding: 1.7rem;
   
}

.icon{
    height: 32px;
    width: 32px;
}

p{
    display: block;
    margin-top: 0.6rem;
    margin-left: 50px;
    font-size: 2.2rem;
}

.btn{
   
  background: rebeccapurple;
  display: inline;
  width: 150px;
  border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    height: 3rem;
    position: absolute;
    
    transform: translate(-50%,-50%);
    z-index: 1;
}


.janela-modal{
    width: vw;
    height: 100vh;
    background-color: red;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    width: 60%;
    min-height: 450px;
    min-height: 200px;
    background-color: #ffffffab ;
    backdrop-filter: blur(10px);
}



